/*Fuente general y fondo*/
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
}

/*Encabezado principal*/
h1 {
  text-align: center;
  color: #dc6f17;
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  color: #dc6f17;
  margin-bottom: 10px;
}

/*Logo fijo*/
.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 120px;
  height: auto;
  z-index: 200;
  pointer-events: none; /* evita que interfiera al hacer clic */
}

/*¿Quiénes somos?*/
.contenido-principal {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.contenedor-quienes {
  flex: 1;
  min-width: 40%;
  text-align: center;
}

.contenedor-quienes h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contenedor-quienes p {
  font-size: 18px;
  line-height: 1.6;
  color: #090404;
}

/*Misión, visión y objetivo*/
.tarjetas {
  flex: 1;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tarjeta {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: #dc6f17;
  border: 2px solid #dc6f17;
}

/*¿Por qué FONRIO?*/
.seccion-extra {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 60px auto;
  max-width: 1200px;
}

.extra-box {
  flex: 1;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #dc6f17;
}

/*Preguntas frecuentes*/
.section-preguntas {
  max-width: 900px;
  margin: 60px auto;
  padding: 40px 20px;
  background-color: #fafafa;
  border-radius: 69px;
  border: 2px solid #dc6f17;
}

.Preguntas h2 {
  font-size: 20px;
  color: #dc6f17;
  margin-bottom: 10px;
  padding-left: 10px;
}

.Preguntas p {
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
  padding-left: 5px;
}

/*Tienda*/
.section-tienda {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.bloque-tienda {
  margin-bottom: 70px;
}

.bloque-tienda h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.bloque-tienda p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}

.tarjetas-productos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tarjeta-producto {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  color: #000000;
  text-align: left;
  border: 2px solid #dc6f17;
}

.tarjeta-producto h2 {
  font-size: 23px;
  margin-bottom: 20px;
  color: #dc6f17;
}

.tarjeta-producto p {
  font-size: 16px;
  margin-top: 30px;
}/* Footer */
.footer {
    color: #9c9292;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 60px;
}

.footer p {
    color: #aaaaaa;
    font-size: 13px;
    margin: 0;
}